<div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" class="content-wel">
  <section>
    <h2>{{ 'Activity' | uppercase}}</h2>
    <p> Stay active and enjoy better health and more fun</p>
  </section>
  <section>
    <h2>{{ 'Community' | uppercase}}</h2>
    <p> Get to know other people who share youur passion</p>
  </section>
  <section>
    <h2>{{ 'challenges' | uppercase}}</h2>
    <p> Never stop! Dive into new challenges every day</p>
  </section>
</div>
